<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>네비게이션 컴포넌트</title>
  <link rel="stylesheet" href="./css/navigation.css" />
</head>
<body>
   <nav class="navigation">
    <h1 class="sr-only" id="mainNavigation">메인 메뉴</h1>
    <ul role="group" aria-labelledby="mainNavigation" class="menu">
        <li><a href="/">ABOUT US</a></li>
        <li><a href="/">SHOWCASE</a></li>
        <li><a href="/">LETTERS</a></li>
        <li><a href="/">CONTACT</a></li>
        <li><a href="/">BLOG</a></li>
      </ul>
   </nav>
</body>
</html>