// 숨김 콘텐츠
@mixin a11yHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0,0,0,0);
  clip-path: polygon(0 0, 0 0, 0 0);
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  border-width: 0;
} 

// 배치
@mixin flex($direction:row, $wrap:nowrap, $justify:flex-start, $align:flex-start, $gap:null) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin grid($columns, $rows:null, $auto-rows:auto, $flow:null, $gap:null) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  grid-auto-rows: $auto-rows;
  grid-auto-flow: $flow;
  gap: $gap;
}