// Base Font Family
$base-font-family: "SUIT Variable", sans-serif; 

// color
$white: rgb(253,253,253);
$gray-100: rgb(235,235,235);
$gray-500: rgb(155, 155, 155);
$gray-700: rgb(105,105,105);
$blue: rgba(92, 130, 255);

// size
$container-width: 500px;

// spacing
$xs-spacing: 0.25rem;
$sm-spacing: 0.5rem;
$md-spacing: 0.75rem;
$base-spacing: 1rem;
$lg-spacing: 1.5rem;
$xl-spacing: 2rem;
$xxl-spacing: 3rem;